<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1067222720364-p94r6d3mb1g1b230g6jfaa5v5iv2bges.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067222720364-p94r6d3mb1g1b230g6jfaa5v5iv2bges</string>
	<key>API_KEY</key>
	<string>AIzaSyDgPOAxHoOCrUq60vw90VF_A0h_qNZjmzE</string>
	<key>GCM_SENDER_ID</key>
	<string>1067222720364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.RaView</string>
	<key>PROJECT_ID</key>
	<string>raview-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>raview-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067222720364:ios:cdb20d85b1ba9ec1</string>
	<key>DATABASE_URL</key>
	<string>https://raview-dev.firebaseio.com</string>
</dict>
</plist>